{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dark - Contact</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h1>Dark</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/contact" class="target">Contact</a></li>
        </ul>
    </nav>
    <main>
        <div class="contact">
            <input type="text" placeholder="Name">
            <input type="email" placeholder="Email">
            <button>Send</button>
        </div>
    </main>
</body>
</html>