{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Just a dark site</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
</head>
<body>
    <header>
        <h1>Dark</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home" class="target">Home</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <main>
        <p>I'll be standing where l belong. Between you and the peopIe of Gotham.</p>
        <p>You fight like a younger man, there's nothing held back. It's admirable, but mistaken.</p>
        <p>Perhaps you should read the instructions first?</p>
        <p>I'm here to ensure the League of Shadow fulfills its duty to restore balance to civilization. You yourself fought the decadence of Gotham for years with all your strength, all your resources, all your moral authority. And the only victory you achieved was a lie. Now, you understand? Gotham is beyond saving and must be allowed to die.</p>
        <p>Theatricality and deception, powerful agents to the uninitiated. But we are initiated aren't we, Bruce? Members of the League of Shadows. And you betrayed us.</p>
        <p>Do I really look like a guy with a plan?</p>
        <p>You have nothing, nothing to threaten me with. Nothing to do with all your strength.</p>
        <p>Ooh, you think darkness is your ally? You merely adopted the dark, I was born in it. Molded by it. I didn't see the light until I was already a man. By then there was nothing to be but blinded.</p>
        <p>But I know the rage that drives you. That impossible anger strangIing the grief until the memory of your loved one is just poison in your veins. And one day, you catch yourself wishing the person you loved had never existed so you'd be spared your pain.</p>
        <p>And as for the television's so-called plan, Batman has no jurisdiction.</p>
        <p>Death does not wait for you to be ready! Death is not considerate of fair! And make no mistake, here you face death. Tiger. Jujitsu. Panther. You're skilled. But this is not a dance. And you are afraid. But not of me. Tell us Mr. Wayne, what do you fear?</p>
        <p>No, no, no. A vigilante is just a man lost in scramble for his own gratification. He can be destroyed or locked up. But if you make yourself more than just a man, if you devote yourself to an idel and if they can't stop you then you become something else entirely. Legend, Mr Wayne.</p>
        <p>Because some men aren't looking for anything logical, like money. They can't be bought, bullied, reasoned or negotiated with. Some men just wanna watch the world burn.</p>
        <p>Someone like you. Someone who'll rattle the cages.</p>
    </main>
</body>
</html>