body {
    margin: 0;
}

nav {
    background-color: #f87730;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.6);
    display: flex;
    padding: 15px;
    justify-content: space-evenly;
    z-index: 100;
    
}

nav a {
    color: #093a72;
    font-size: 18px;
    font-family: 'Libre Franklin', sans-serif;
    /* padding: 0px 10px; */
    text-decoration: none;
    transition: color 0.5s;
    transition-timing-function: ease-out;
}

nav a:hover {
    color: #eee;
}

header {
    background-image: url("images/kages.jpg");
    background-size: cover;
    background-position: top;
    border-bottom: solid 2px #f87730;
    height: 400px;
    margin-top: 3px;
}

section {
    background-color: #f5efef;
    display: flex;
    justify-content: space-evenly;
}

section div {
    padding: 20px 0px;
    width: 40%;
}

div p {
    color: #333;
    text-align: justify;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 30px;
}

div li {
    list-style: none;
    background-image: url("images/iconfinder_kunai-simple_479475.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    padding-left: 30px;
    margin-left: -30px;
}

div h2 {
    color: #093a72;
    font-family: 'Roboto Condensed', sans-serif;
}

footer {
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: top;
}

footer div:nth-child(1) {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    
}

footer h3 {
    color: #eee;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}

footer div:nth-child(2) h3 {
    padding-top: 30px;
}

footer input::placeholder {
    font-family: monospace;
    font-size: 16px;
}

footer input:hover {
    font-family: monospace;
    border: 2px solid orangered;
}

footer input {
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
    color: blue;
    margin-bottom: 10px;
    border-radius: 10px;
    border: 2px solid blue;
    width: 300px;
}

footer input:focus {
    border: 2px solid orangered;
    outline: none;
}

footer button {
    color: #eee;
    background-color: orangered;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
    outline: none;
}



footer button:hover {
    background-color: blue;
}

footer button:active {
    color: orangered;
    border: none;
    outline: none;
    
}

footer div:nth-child(2) {
    display: inline-block;
    
}

footer a img {
    filter: grayscale(100);
    width: 32px;
    padding: 10px;
 
}

footer div:nth-child(2) a img:hover {
    filter: grayscale(0);
    border-bottom: solid 1px orangered;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}